@{
	ViewData["Title"] = "Earn";
}

<div class="container">
	<div>
		<h1>Earn Phoney</h1>
	</div>
	<div>
		<span>
			You can earn phoney by playing Rock Paper Scissors. Place your wager and try your luck.
		</span>
	</div>

</div>