@model ViewModels.PresentVM;
@{
	ViewData["Title"] = "Present";
}

<div id="myModal" class="modal fade">
	<div class="modal-dialog d-xl-flex" style="text-align:center;">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Congratulations!</h5>
				<a class="btn btn-danger" asp-area="User" asp-controller="User" asp-action="Index"><i class="bi bi-x-lg"></i></a>
			</div>
			<div class="modal-body" style="display:flex;flex-direction:column;justify-content:center;align-items:center;">

				<div class="card mb-3" style="width: 18rem;">
					@switch (Model.PresentType)
					{
						case "Legendary":
							<img src="~/images/legendary-present.jpg" class="card-img-top" alt="legendary-present">
							break;
						case "Epic":
							<img src="~/images/epic-present.jpg" class="card-img-top" alt="epic-present">
							break;
						case "Rare":
							<img src="~/images/rare-present.jpg" class="card-img-top" alt="rare-present">
							break;
						default:
							<img src="~/images/common-present.jpg" class="card-img-top" alt="common-present">
							break;
					}
				</div>
				<div>
					<p>
						<span class="fw-bold text-success">
							You received a @Model.PresentType Present of @Model.PresentAmount Phonies <i class="bi bi-exclamation-lg"></i>
						</span>

					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container justify-content-center align-items-center m-3">
	<div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script>
	document.addEventListener('DOMContentLoaded', (event) => {
		var myModal = new bootstrap.Modal(document.getElementById("myModal"));
		myModal.show();
	});
</script>