@{
	ViewData["Title"] = "Present";
}

<div class="container">
	<div>
		<h1>
			Your daily gift is ready
		</h1>
	</div>
	<div>
		<i class="fa-solid fa-gift custom-text-green mb-3" style="font-size:150px;"></i><br />
		<span class="custom-text-blue fw-bold">
			Tap on the giftbox to open
		</span>
	</div>
</div>