@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="m-3">
        <h1>
            Sorry!
        </h1>
    </div>
    <div class="m-3">
        <p><span>You have already collected your present for today</span><br/>
            <span>Collect again tomorrow.</span></p>
        
    </div>
    <a class="m-3 btn btn-primary custom-bg-blue" asp-area="User" asp-controller="User" asp-action="Index"> Back to dashboard.</a>
</div>

