@{
    ViewData["Title"] = "About Us";
}

<div class="container">
	<div class="row">
		<div class="col">
			<h1>About Us</h1>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p>
				<span>
					Minim ipsum et lobortis duo magna stet consequat et eirmod ut qui gubergren et magna ipsum invidunt magna sit nisl<br />
					Eirmod enim no kasd te tempor in luptatum iusto nisl accusam eirmod feugait lorem dolore duo et at diam at dolor eos dolores consequat et stet et						clita dolor ipsum sea est dolore esse commodo dolor sadipscing ipsum consetetur magna<br/>
				</span>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h2>What can I do?</h2>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">No eum gubergren diam kasd rebum gubergren sed est stet</li>
				<li class="list-group-item">No eum gubergren diam kasd rebum</li>
				<li class="list-group-item">No eum gubergren diam kasd rebum gubergren</li>
				<li class="list-group-item">No eum gubergren diam kasd rebum gubergren sed</li>
				<li class="list-group-item">No eum gubergren diam</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h2>What should I avoid?</h2>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">No eum gubergren diam kasd rebum gubergren sed est stet</li>
				<li class="list-group-item">No eum gubergren diam kasd rebum</li>
			</ul>
		</div>
	</div>
</div>