@model ViewModels.RockPaperScissorVM;
@{
	ViewData["Title"] = "Earn";
}

<div class="container">
	<div>
		<h1>Earn Phoney</h1>
	</div>
	<div>
		<span>
			You can earn phoney by playing Rock Paper Scissors. Place your wager and try your luck.
		</span>
		<div>
			<div class="mt-3" style="width:50%;">
				<form method="post" asp-area="Transaction" asp-controller="Earn" asp-area="Index">
					<div class="mb-3">
						<label asp-for="WagerValue" class="form-label"></label>
						<input type="text" class="form-control" placeholder="Enter wager amount here" asp-for="WagerValue" />
					</div>
					<input type="text" id="rps-text" asp-for="UserChoice" value="" hidden />
					<label class="form-label" asp-for="UserChoice"></label><br />
					<button style="background:none;border:none;" id="btn-rock" onclick="selectRock()" class="custom-text-red">
						<i class="fa-solid fa-hand-back-fist" style="font-size:76px;"></i>
					</button>
					<button style="background:none;border:none;" onclick="selectPaper()" class="custom-text-green">
						<i class="fa-solid fa-hand" style="font-size:76px;"></i>
					</button>
					<button style="background:none;border:none;" onclick="selectScissor()" class="custom-text-yellow">
						<i class="fa-solid fa-hand-scissors" style="font-size:76px;"></i>
					</button>
					<br />
					<div asp-validation-summary="All"></div>
				</form>
			</div>
		</div>
	</div>

</div>


<script>
	const selectRock = () => {
		document.getElementById('rps-text').value = "rock"
	}
	const selectPaper = () => {
		document.getElementById('rps-text').value = "paper"
	}
	const selectScissor = () => {
		document.getElementById('rps-text').value = "scissor"
	}
</script>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial"></partial>
	}
	}