$blue: #187498;
$red: #EB5353;
$green: #36AE7C;
$yellow: #F9D923;
$cyan: #37E2D5;
$purple: #BD4291;
$grey: #EEEEEE;
$disabled: #7F8487;
$l-red: #F38181;
$l-yellow: #F9ED69;
$l-light-green: #EAFFD0;
$l-green: #90C8AC;
$l-orange: #F08A5D;
$l-maroon: #B83B5E;
$l-purple: #6A2C70;
$l-pink: #FFC7C7;
$l-blue: #A6D0E4;