@{
	ViewData["Title"] = "About Us";
}

<div class="container custom-about-container m-3">

	<div class="custom-about-child">
		<h1>About PhoneyInTheBank</h1>
	</div>
	<div class="custom-about-child">
		<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active custom-carousel-item-container" data-bs-interval="3000">
					<div class="custom-carousel-content">
						<div class="custom-carousel-content-wrapper">
							<div class="custom-carousel-content-item m-5">
								<i class="fa-solid fa-user-plus" style="font-size:70px;"></i>
							</div>
							<div class="custom-carousel-content-item m-5">
								<p class="fw-bold text-dark">
									<span>Register to create your very first phoney bank account and receive 1000  gifted phonies to get started!</span><br /><br />
									<span>The registration is free too.</span>
								</p>
							</div>
						</div>
					</div>
					<div class="carousel-caption d-none d-md-block">
						<h5 class="custom-carousel-caption-header">Get started!</h5>
						@*	<p>Some representative placeholder content for the first slide.</p>*@
					</div>
				</div>
				<div class="carousel-item custom-carousel-item-container" data-bs-interval="3000">
					<div class="custom-carousel-content">
						<div class="custom-carousel-content-wrapper">
							<div class="custom-carousel-content-item m-5">
								<i class="fa-solid fa-arrow-trend-up" style="font-size:70px;"></i>
							</div>
							<div class="custom-carousel-content-item m-5">
								<p class="fw-bold text-dark">
									<span>Grow your financial status by earning phonies through a game of rock paper scissors.</span><br /><br />
									<span>Take a loan to get instant phonies. You cannot take loans if you have not cleared an existing loan. Why? House rules.</span><br/><br/>
									<span>Invest your money in promising startups.</span>
								</p>
							</div>
						</div>
					</div>
					<div class="carousel-caption d-none d-md-block">
						<h5 class="custom-carousel-caption-header">Grow!</h5>
					</div>
				</div>
				<div class="carousel-item custom-carousel-item-container" data-bs-interval="3000">
					<div class="custom-carousel-content">
						<div class="custom-carousel-content-wrapper">
							<div class="custom-carousel-content-item m-5">
								<i class="fa-solid fa-arrow-trend-up" style="font-size:70px;"></i>
							</div>
							<div class="custom-carousel-content-item m-5">
								<p class="fw-bold text-dark">
									<span>Donate your phoney to earn Goodwill.</span><br /><br />
									<span>Pay your loans to earn trust.</span><br /><br />
									<span>Avoid getting bankrupt to maintain your financial status.</span><br /><br />
							</div>
						</div>
					</div>
					<div class="carousel-caption d-none d-md-block">
						<h5 class="custom-carousel-caption-header">Build!</h5>
					</div>
				</div>

			</div>
			@*<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>*@
		</div>
	</div>

</div>