@{
	ViewData["Title"] = "About Us";
}

<div class="container custom-about-container m-3">

	<div class="custom-about-child">
		<h1>About PhoneyInTheBank</h1>
	</div>
	<div class="custom-about-child-body">
		@*-------------------WHO----------------------*@
		<div class="custom-about-child-body-content custom-bg-l-blue m-3 p-3">
			<div class="custom-about-child-content-head">
				<div>
					<h3>Who?</h3>
				</div>
				<div>
					<i class="fa-solid fa-person-digging" style="font-size:28px;"></i>
				</div>
			</div>
			<hr/>
			<div class=" mb-2 custom-about-child-body-content-question">
				<span class="fw-bold"><i class="fa-solid fa-circle-question"></i> Who created this application?</span>
			</div>
			<div class="custom-about-child-body-content-answer">
				<span> <i class="fa-solid fa-arrow-right"></i> **insert linkedin url**</span>
			</div>
		</div>
		@*-------------------WHY----------------------*@
		<div class="custom-about-child-body-content custom-bg-l-red m-3 p-3">
			<div class="custom-about-child-content-head">
				<div>
					<h3>Why?</h3>
				</div>
				<div>
					<i class="fa-solid fa-cubes"  style="font-size:28px;"></i>
				</div>
			</div>
			<hr/>
			<div class="mb-2 custom-about-child-body-content-question">
				<span class="fw-bold"><i class="fa-solid fa-circle-question"></i> Why was this application created?</span>
			</div>
			<div class="custom-about-child-body-content-answer">
				<span> <i class="fa-solid fa-arrow-right"></i> For the developer to practice ASP.NET CORE MVC, Entity Framework and Identity framework.</span>
			</div>
		</div>
		@*-------------------WHEN----------------------*@
		<div class="custom-about-child-body-content custom-bg-l-green m-3 p-3">
			<div class="custom-about-child-content-head">
				<div>
					<h3>When?</h3>
				</div>
				<div>
					<i class="fa-solid fa-clock-rotate-left"  style="font-size:28px;"></i>
				</div>
			</div>
			<hr/>
			<div class="mb-2 custom-about-child-body-content-question">
				<span class="fw-bold"><i class="fa-solid fa-circle-question"></i> When was this application created?</span>
			</div>
			<div class="custom-about-child-body-content-answer">
				<span> <i class="fa-solid fa-arrow-right"></i> This application was created after the application developer learned about Identity Franework. </span>
			</div>
		</div>
		@*-------------------WHERE----------------------*@
		<div class="custom-about-child-body-content custom-bg-l-yellow m-3 p-3">
			<div class="custom-about-child-content-head">
				<div>
					<h3>Where?</h3>
				</div>
				<div>
					<i class="fa-solid fa-location-dot"   style="font-size:28px;"></i>
				</div>
			</div>
			<hr/>
			<div class="mb-2 custom-about-child-body-content-question">
				<span class="fw-bold"><i class="fa-solid fa-circle-question"></i> Where was this application created?</span>
			</div>
			<div class="custom-about-child-body-content-answer">
				<span> <i class="fa-solid fa-arrow-right"></i> Inside batcave (Not really) </span>
			</div>
		</div>
		@*-------------------HOW----------------------*@
		<div class="custom-about-child-body-content custom-bg-l-purple text-white m-3 p-3">
			<div class="custom-about-child-content-head">
				<div>
					<h3>How?</h3>
				</div>
				<div>
					<i class="fa-solid fa-ghost" style="font-size:28px;"></i>
				</div>
			</div>
			<hr/>
			<div class="mb-2 custom-about-child-body-content-question">
				<span class="fw-bold"><i class="fa-solid fa-circle-question"></i> How was this application created?</span>
			</div>
			<div class="custom-about-child-body-content-answer">
				<span> <i class="fa-solid fa-arrow-right"></i> Using SCSS, ASP.NET CORE 6 MVC, SSMS, Entity Framework and Identity Framework. </span>
			</div>
		</div>
		@*-------------------WHAT----------------------*@
		<div class="custom-about-child-body-content custom-bg-l-pink m-3 p-3">
			<div class="custom-about-child-content-head">
				<div>
					<h3>What?</h3>
				</div>
				<div>
					<i class="fa-solid fa-comments-dollar" style="font-size:28px;"></i>
				</div>
			</div>
			<hr/>
			<div class="mb-2 custom-about-child-body-content-question">
				<span class="fw-bold"><i class="fa-solid fa-circle-question"></i> What does it do?</span>
			</div>
			<div class="custom-about-child-body-content-answer">
				<span> <i class="fa-solid fa-arrow-right"></i> It is a fake banking web application where you can earn fake currency called phonies. </span>
			</div>
		</div>
		@*-------------------TABOO 101----------------------*@
		<div class="custom-about-child-body-content custom-bg-l-maroon text-white m-3 p-3">
			<div class="custom-about-child-content-head">
				<div>
					<h3>TABOO 101</h3>
				</div>
				<div>
					<i class="fa-solid fa-ban"  style="font-size:28px;"></i>
				</div>
			</div>
			<hr/>
			<div class="mb-2 custom-about-child-body-content-question">
				<span class="fw-bold"><i class="fa-solid fa-circle-question"></i> What to avoid?</span>
			</div>
			<div class="custom-about-child-body-content-answer">
				<span> <i class="fa-solid fa-arrow-right"></i> Do not register with credentials you use for your original bank accounts. </span>
			</div>
		</div>
		@*-------------------Support----------------------*@
		<div class="custom-about-child-body-content-disabled text-white custom-bg-disabled m-3 p-3">
			<div class="custom-about-child-content-head">
				<div>
					<h3>Support</h3>
				</div>
				<div>
					<i class="fa-solid fa-phone-slash"   style="font-size:28px;"></i>
				</div>
			</div>
			<hr/>
			<div class="mb-2 custom-about-child-body-content-question">
				<span class="fw-bold"><i class="fa-solid fa-circle-question"></i> How can I get help?</span>
			</div>
			<div class="custom-about-child-body-content-answer">
				<span> <i class="fa-solid fa-arrow-right"></i> Support for this application is not available as it is a practice project. </span>
			</div>
		</div>

	</div>


</div>