@{
	ViewData["Title"] = "Home Page";
}
<div class="container">
	<div class="row text-center">
		<h1>Welcome to Phoney In The Bank</h1>
	</div>
	<div class="row container custom-home-child-container">
		<div>
			<h2>
				Vero dolor voluptua
			</h2>
			<p>
				<span>
					Et at sit vero diam rebum dolore aliquyam praesent stet clita iusto no congue justo assum invidunt diam lobortis nisl diam voluptua takimata exerci sit volutpat wisi facilisis no ipsum sit et elitr invidunt ipsum dolore ipsum sea sadipscing duis
				</span>
			</p>
		</div>
		<div>
			<h2>
				Vero dolor voluptua
			</h2>
			<p>
				<span>
					Et at sit vero diam rebum dolore aliquyam praesent stet clita iusto no congue justo assum invidunt diam lobortis nisl diam voluptua takimata exerci sit volutpat wisi facilisis no ipsum sit et elitr invidunt ipsum dolore ipsum sea sadipscing duis
				</span>
			</p>
		</div>
		<div>
			<h2>
				Vero dolor voluptua
			</h2>
			<p>
				<span>
					Et at sit vero diam rebum dolore aliquyam praesent stet clita iusto no congue justo assum invidunt diam lobortis nisl diam voluptua takimata exerci sit volutpat wisi facilisis no ipsum sit et elitr invidunt ipsum dolore ipsum sea sadipscing duis
				</span>
			</p>
		</div>
		<div>
			<h2>
				Vero dolor voluptua
			</h2>
			<p>
				<span>
					Et at sit vero diam rebum dolore aliquyam praesent stet clita iusto no congue justo assum invidunt diam lobortis nisl diam voluptua takimata exerci sit volutpat wisi facilisis no ipsum sit et elitr invidunt ipsum dolore ipsum sea sadipscing duis
				</span>
			</p>
		</div>
	</div>

</div>
