@{
	ViewData["Title"] = "Home Page";
}
<div class="container">
	<div class="row text-center">
		<h1>Welcome to Phoney In The Bank</h1>
		<h3 class="text-secondary">A wannabe banking web application</h3>
	</div>
	<div class="container custom-home-container">
		<div class="custom-home-child m-3 p-3  custom-bg-blue text-white">
			<h4>
				Join
			</h4>
			<hr/>
			<p>
				<span>
					Register 
					<a asp-area="Auth" asp-controller="Auth" asp-action="Register" class="text-decoration-none custom-text-yellow fw-bold">here</a>
					to create your very own Phoney Bank account. 
				</span> <br/><br/>
				<span>
					Get rewarded 1000 phonies for registering to help you get started.
				</span>

			</p>
		</div>		
		<div class="custom-home-child m-3 p-3 custom-bg-blue text-white">
			<h4>
				Earn
			</h4>
			<hr/>
			<p>
				<span>
					You can earn phonies, Phonies are the currency we use in our app.
				</span> <br/><br/>
				<span>
					You can earn phonies by
				</span>
				<ul class="list-group list-group-flush">
					<li  class="list-group-item  text-white custom-bg-blue">Playing Rock Paper Scissors</li>
					<li  class="list-group-item  text-white custom-bg-blue">Investing in organizations</li>
					<li  class="list-group-item  text-white custom-bg-blue">Collecting daily presents</li>
					<li  class="list-group-item  text-white custom-bg-blue">Taking loan</li>
				</ul>

			</p>
		</div>	
		<div class="custom-home-child m-3 p-3  custom-bg-blue text-white">
			<h4>
				Build
			</h4>
			<hr/>
			<p>
				<span>
					You can build your reputation in this application.
				</span> <br/><br/>

				<ul class="list-group  list-group-flush">
					<li class="list-group-item  text-white custom-bg-blue">Pay your loan to build trustworthiness.</li>
					<li class="list-group-item text-white custom-bg-blue">Win games of Rock Paper Scissors and collect exotic presents to build your luck.</li>
					<li class="list-group-item text-white custom-bg-blue">Donate phonies to a greedy AI to build your goodwill.</li>
					<li class="list-group-item text-white custom-bg-blue">Avoid going broke.</li>
				</ul>

			</p>
		</div>	
		
	</div>

</div>
