@import "../variables/_color-variables.scss";

// Background Colors

.custom-bg-blue {
    background-color: $blue;
}

.custom-bg-red {
    background-color: $red;
}

.custom-bg-yellow {
    background-color: $yellow;
}

.custom-bg-green {
    background-color: $green;
}

.custom-bg-cyan {
    background-color: $cyan;
}

.custom-bg-purple {
    background-color: $purple;
}

.custom-bg-grey {
    background-color: $grey;
}

.custom-bg-disabled {
    background-color: $disabled;
}

.custom-bg-l-red{
    background-color:$l-red;
}
.custom-bg-l-yellow {
    background-color: $l-yellow;
}
.custom-bg-l-light-green {
    background-color: $l-light-green;
}
.custom-bg-l-green {
    background-color: $l-green;
}
.custom-bg-l-orange {
    background-color: $l-orange;
}
.custom-bg-l-maroon {
    background-color: $l-maroon;
}
.custom-bg-l-purple {
    background-color: $l-purple;
}
.custom-bg-l-pink {
    background-color: $l-pink;
}
.custom-bg-l-blue {
    background-color: $l-blue;
}


// Text Colors

.custom-text-blue {
    color: $blue;
}

.custom-text-red {
    color: $red;
}

.custom-text-yellow {
    color: $yellow;
}

.custom-text-green {
    color: $green;
}
