@import "classes/_color-classes.scss";
@import "classes/_layout-classes.scss";
@import "classes/_offset-classes.scss";
@import "classes/_user-card.scss";
@import "classes/_containers.scss";
@import "classes/_page-layouts.scss";


.custom-container {
    display: flex;
    justify-content: center;
    width: 100%;
}


@media screen and (max-width:$breakpoint-s-device) {
    .custom-hide-on-mobile {
        display: none;
    }
}
