@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{


	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle  text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			Account
		</a>
		<ul class="dropdown-menu custom-bg-blue" aria-labelledby="navbarDropdown">
			<li><a class="text-white text-decoration-none dropdown-item" asp-area="User" asp-controller="User" asp-action="Index">Account Detail</a></li>
			<li><a class="text-white text-decoration-none dropdown-item" asp-area="Transaction" asp-controller="Transfer" asp-action="Index">Transfer Phoney</a></li>
			<li><a class="text-white text-decoration-none dropdown-item" asp-area="Transaction" asp-controller="Earn" asp-action="Index">Earn Phoney</a></li>
			<li><a class="text-white text-decoration-none dropdown-item" asp-area="Transaction" asp-controller="Loan" asp-action="Index">Loan</a></li>
			<li><a class="text-white text-decoration-none dropdown-item" asp-area="Transaction" asp-controller="History" asp-action="Index">Transaction History</a></li>
			<li><a class="text-white text-decoration-none dropdown-item" asp-area="Transaction" asp-controller="Present" asp-action="Index">Collect Daily Present</a></li>
			@*<li><a class="dropdown-item" href="#">Another action</a></li>
			<li><hr class="dropdown-divider"></li>
			<li><a class="dropdown-item" href="#">Something else here</a></li>*@
		</ul>
	</li>
}


