@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
	<div class="custom-user-card px-3 text-white">
		<a class="text-white text-decoration-none" asp-area="User" asp-controller="User" asp-action="Index">
			<div class="row fw-bold text-md-center">
				<hr />
				<i class="bi bi-graph-up-arrow m-1"></i>
				<span class="m-2">  Details</span>
				<hr />
			</div>
		</a>
		<a class="text-white text-decoration-none" asp-area="Transaction" asp-controller="Transfer" asp-action="Index">

			<div class="row fw-bold text-md-center">
				<i class="bi bi-arrow-left-right m-1"></i>
				<span class="m-2"> Transfer</span>
				<hr />
			</div>

		</a>
		<a class="text-white text-decoration-none" asp-area="Transaction" asp-controller="Earn" asp-action="Index">
			<div class="row fw-bold text-md-center">
				<i class="bi bi-coin m-1"></i>
				<span class="m-2">  Earn</span>
				<hr />
			</div>
		</a>
		<a class="text-white text-decoration-none" asp-area="Transaction" asp-controller="Loan" asp-action="Index">
			<div class="row fw-bold text-md-center">
				<i class="bi bi-bank"></i>
				<span class="m-2">  Loan</span>
				<hr />
			</div>
		</a>
		<a class="text-white text-decoration-none" asp-area="Transaction" asp-controller="History" asp-action="Index" asp-route-startingNumber="0" asp-route-direction="">
			<div class="row fw-bold text-md-center">
				<i class="bi bi-clock-history m-1"></i>
				<span class="m-2"> History</span>
				<hr />
			</div>
		</a>
		<a class="text-white text-decoration-none" asp-area="Transaction" asp-controller="Present" asp-action="Index">
			<div class="row fw-bold text-md-center">
				<i class="bi bi-gift-fill m-1 bounce"></i>
				<span class="m-2"> Present</span>
				<hr />
			</div>
		</a>
		<div class="row fw-bold text-md-center">
			<i class="bi bi-gear"></i>
			<span class="m-2"> Settings</span>
			<hr />
		</div>
	</div>
}



